<html>
    <head>
        <title>Lena's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog</a></h1>
        </div>
        {% for post in posts %}
        <div>
            <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
        </div>
        {% endfor %}
        <div>
            <p>опубликован: 20.07.2020 14:20 </p>
            <h2><a href="">Мой второй пост</a></h2>
            <h3>Классификация М. Бауэра - А.Е. Ферсмана.</h2></p> 
           

<strong>I. Драгоценные камни (самоцветы):</strong>

 <p>1 порядок:  Алмаз, рубин, сапфир, изумруд, александрит, благородная шпинель, эвклаз.</p>

 <p>2 порядок: Топаз, аквамарин, берилл, красный турмалин, демантоид, кровяной аметист, альмандин, уваровит, жадеит, благородный опал, циркон.</p>

 <p>3 порядок:
1. Гранат, кордиерит, кианит, эпидот, диоптаз, бирюза, варисцит, зеленый турмалин;
2. Горный хрусталь, дымчатый кварц, светлый аметист, халцедон, агат, сердолик, гелиотроп, хризопраз, празем, полуопал;
3. Солнечный камень, лунный камень, Лабрадор, нефелин, содалит, обсидиан,титанит, бенитоит, пренит, андалузит, диопсид, скаполит, томсонит;
4. Гематит, пирит, касситерит, кварц с золотом;</p>
 
<strong>II. Поделочные (цветные камни):</strong>
<p>1 порядок: Нефрит, лазурит, главколит, содалит, амазонит, Лабрадор, родонит, азурит, малахит, авантюрин, кварцит, горный хрусталь, дымчатый кварц, агат и его разновидности, яшма, везувиан, розовый кварц, письменный гранит.</p>

<p>2 порядок: Лепидолит, фукситовый сланец, серпентин, агальматолит, стеатит, селенит, обсидиан, мраморный оникс, датолит, флюорит, галит, графит, лазурит, смитсонит, цоизит.</p>
 
<p>3 порядок: Гипс, порфиры и частично декоративный материал - брекчии, сливные кварциты и др.</p> 

<strong>III. Драгоценные камни - органогенные:</strong>
<p> Жемчуг, коралл, янтарь, гагат.</p>
        </div>
    </body>
</html>